<footer class="center">
  <div class="measure">
    <small>
      This is a blog by Carl Bednorz via FRNKN - writing about E-Commerce, Web Development, UX and agile IT project management.
      Follow me on <a href="https://twitter.com/frankenapps">Twitter</a> or on <a href="https://de.linkedin.com/in/carl-bednorz-b7542011">LinkedIn</a>
    </small>
    <small>
    <br>  <a rel="nofollow" href="/impressum/">Impressum - Imprint</a>
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
